.header {
  display: flex;
  justify-content: space-between; 
  padding: 30px 26px;
}
.header img {
  padding-right: 6px;
}
.header div {
  display: flex;
}
.header h1 {
  font-size: 22px;
}
.header h2 {
  align-self: center;
  font-size: 16px;
}
.toggler {
  display: flex;
  align-self: center;
}
.toggler__slider {
  cursor: pointer;
}